{extend name="common/page"}
{block name="content"}
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入角色名" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">禁用</label>
        <div class="layui-input-block">
            <input type="radio" name="disabled" value="1" title="是">
            <input type="radio" name="disabled" value="2" title="否" checked>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea name="note" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="addForm">增加</button>
        </div>
    </div>
</form>
{/block}

{block name="script"}
{__block__}
<script>
    layui.use(['form'], function () {
        $k.submit('addForm', '/role/add', function () {
            // reload category data table to refresh data
            $k.reload(parent.tableInst, '/role');
            // 关闭父级弹出层
            $k.adminClose();
        })
    })
</script>
{/block}