<div class="layui-header">
    <div class="layui-logo">FROG内容管理平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav nav layui-layout-left"  lay-filter="admin-nav">
        <li class="layui-nav-item"><a href="javascript:;">控制台</a></li>
        {volist name="menu" id="item"}
        {if $item.privileges && $item.position == "顶部导航"}
        <li class="layui-nav-item">
            <a href="javascript:;">{$item.name}</a>
            <dl class="layui-nav-child">
                {volist name="item.privileges" id="privilege"}
                <dd class="item"><a href="javascript:;" data-href="{$privilege.url}">{$privilege.name}</a></dd>
                {/volist}
            </dl>
        </li>
        {/if}
        {/volist}
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                {$Think.session.admin.username}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="/admin/logout">退了</a></li>
    </ul>
</div>
