<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree nav"  lay-filter="admin-nav">
            {volist name="menu" id="item"}
            {if $item.privileges && $item.position=='左侧栏' }
            <li class="layui-nav-item">
                <a class="" href="javascript:;">{$item.name}</a>
                <dl class="layui-nav-child">
                    {volist name="item.privileges" id="privilege"}
                    <dd class="item"><a href="javascript:;" data-href="{$privilege.url}">{$privilege.name}</a></dd>
                    {/volist}
                </dl>
            </li>
            {/if}
            {/volist}
            <!--

                        <li class="layui-nav-item layui-nav-itemed">
                            <a class="" href="javascript:;">用户</a>
                            <dl class="layui-nav-child">
                                <dd class="item"><a href="javascript:;" data-href="/user">用户管理</a></dd>
                                <dd class="item"><a href="javascript:;" data-href="/role">角色管理</a></dd>
                                <dd class="item"><a href="javascript:;" data-href="/privilege/category/all">权限分类</a></dd>
                                <dd class="item"><a href="javascript:;" data-href="/privilege">权限管理</a></dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd class="item"><a href="javascript:;">列表一</a></dd>
                                <dd class="item"><a href="javascript:;">列表二</a></dd>
                                <dd class="item"><a href="javascript:;">超链接</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item item"><a href="javascript:;">menu1</a></li>
                        <li class="layui-nav-item item"><a href="javascript:;">menu2</a></li>
            -->

        </ul>
    </div>
</div>
