{extend name="common/page"}
{block name="content"}
<kblock>
    <button class="layui-btn layui-btn-danger" id="del-all-btn" onclick="$k.delChecked('user', '/user/del',tableInst, '/user')"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="$k.adminShow('添加用户','/user/add')"><i class="layui-icon"></i>添加</button>
    <button class="layui-btn" onclick="$k.reload(tableInst, '/user');" id="reload">
        <i class="layui-icon">&#xe669;</i> 刷新
    </button>
    <span class="k-right" style="line-height:40px"></span>
</kblock>
<table id="user" lay-filter="user"></table>
<script type="text/html" id="operateBar">
    <a class="layui-btn layui-btn-sm" lay-event="detail">看</a>
    <a class="layui-btn layui-btn-sm" lay-event="edit">改</a>
    <a class="layui-btn layui-btn-sm" lay-event="del">删</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
<script type="text/html" id="roles">
{{# for(var i in d.roles) { }}
    <span class="layui-badge layui-bg-gray">{{d.roles[i].name}}</span>
{{# } }}
</script>
{/block}

{block name="script"}
<script>
    var tableInst = null;
    layui.use(['table'], function () {
        var users = {$users|raw};
        tableInst = layui.table.render({
            elem: '#user',
            height: 'full-100',
            data: users,
            page:true,
            limit: 10,
            cols: [[
                {checkbox: true},
                {field: 'id', title: 'ID', width: 80, sort: true},
                {field: 'username', title: '用户名', width: 100, sort: true},
                {title: '角色', templet: '#roles', sort: true},
                {field: 'locked', title: '禁用', width: 80, sort: true},
                {title: '操作', fixed: 'right', width: 150, align: 'center', toolbar: '#operateBar'}

            ]]
        });

        layui.table.on('tool(user)', function (obj) {
            if (obj.event === 'detail') {
                $k.adminShow('查看权限详情', '/user/detail/'+obj.data.id);
            }
            if (obj.event === 'edit') {
                $k.adminShow('权限编辑', '/user/edit/'+obj.data.id)
            }
            if (obj.event === 'del') {
                $k.del(obj.data.id, '/user/del', tableInst, '/user');
            }
        })
    })
</script>
{/block}