{extend name="common/page"}
{block name="content"}
<table class="layui-table">
    <colgroup>
        <col width="150">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th colspan="2">用户详情</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>用户名</td>
        <td>{$detail.username}</td>
    </tr>
    <tr>
        <td>角色</td>
        <td>
            {volist name="detail.roles" id="role"}
            <span class="layui-badge layui-bg-gray">{$role.name}</span>
            {/volist}
        </td>
    </tr>
    <tr>
        <td>权限</td>
        <td>
            {volist name="detail.privileges" id="privilege"}
            <span class="layui-badge layui-bg-gray">{$privilege.name}</span>
            {/volist}
        </td>
    </tr>
    <tr>
        <td>锁定</td>
        <td>{$detail.locked}</td>
    </tr>
    <tr>
        <td>备注</td>
        <td>{$detail.note}</td>
    </tr>
    </tbody>
</table>
{/block}