<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {block name="title"}
        {$title}
        {/block}
    </title>
    {block name="css"}
    {include file="common/css"}
    {/block}
    {block name="style"}{/block}
</head>
<body>
<div class="layui-fluid" style="padding-top: 15px;">
{block name="content"}
content
</div>
{/block}

{block name="js"}
{include file="common/js"}
{/block}
{block name="script"}{/block}
</body>
</html>