{extend name="common/page"}
{block name="content"}
<kblock>
    <button class="layui-btn layui-btn-danger" id="del-all-btn"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="$k.adminShow('添加文件','/admin/file_center/add')"><i class="layui-icon"></i>添加</button>
    <button class="layui-btn" onclick="$k.reload(tableInst, '/admin/file_center/all');" id="reload">
        <i class="layui-icon">&#xe669;</i> 刷新
    </button>
    <span class="k-right" style="line-height:40px"></span>
</kblock>
<table id="privilege-category" lay-filter="privilege-category"></table>

<script type="text/html" id="operateBar">
    <a class="layui-btn layui-btn-sm" lay-event="detail">看</a>
    <a class="layui-btn layui-btn-sm" lay-event="edit">改</a>
    <a class="layui-btn layui-btn-sm" lay-event="del">删</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
{/block}

{block name="script"}
{__block__}
<script>
    var tableInst = null;
    layui.use(['table'], function() {
        var table = layui.table;
        // render table
        var categoryData = {$files|raw};
        tableInst = table.render({
            elem: '#privilege-category',
            height: 'full-100',
            data: categoryData,
            page:true,
            limit: 10,
            cols: [[
                {checkbox: true},
                {field: 'id', title: 'ID', width: 80, sort: true},
                {field: 'name', title: '标题'},
                {field: 'path', title: '链接', templet: '<div>{{"http://" + location.host + "/" + d.path}}</div>'},
                {title: '操作', fixed: 'right', width: 200, align: 'center', toolbar: '#operateBar'}

            ]]
        });

        // 删除选中
        $('#del-all-btn').on('click', function () {
            $k.delChecked('privilege-category', '/admin/file_center/del', tableInst, '/admin/file_center/all');
        })
        // tool bar
        table.on('tool(privilege-category)', function (obj) {
            if (obj.event === 'detail') {
                $k.adminShow('文件详情', '/admin/file_center/detail/'+obj.data.id)
            }
            if (obj.event === 'edit') {
                $k.adminShow('文件编辑', '/admin/file_center/edit/'+obj.data.id)
            }
            if (obj.event === 'del') {
                $k.del(obj.data.id, '/admin/file_center/del', tableInst, '/admin/file_center/all')
            }
        })

    });
</script>
{/block}